* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#kb {
    text-align: center;
}

main #kb > div:nth-child(2) {
    margin-left: 0.4em;
}

main #kb > div:nth-child(3) {
    margin-left: 1.3em;
}

kbd {
    border: 1px solid red;
    width: 70px;
    height: 70px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}

kbd > button {
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

kbd:hover > button {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
}


